## Exploring Ebay Car Sales Data

In [49]:
import pandas as pd
import numpy as np

In [50]:
autos = pd.read_csv("autos.csv", encoding = "latin-1")

In [51]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [52]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Clean Columns

In [53]:
new_columns = {"yearOfRegistration":"registration_year","monthOfRegistration":"registration_month","notRepairedDamage":"unrepaired_damage","dateCreated":"ad_created","dateCrawled":"date_crawled","offerType":"offer_type","abtest":"ab_test","vehicleType":"vehicle_type","gearbox":"gear_box","powerPS":"power_ps","odometer":"odo_meter","fuelType":"fuel_type","nrOfPictures":"nr_of_pictures","postalCode":"postal_code","lastSeen":"las_tSeen"}

In [54]:
autos.rename(columns = new_columns, inplace = True)

In [55]:
new_col = []
for s in autos.columns:
    new_col.append(s.strip())
    
autos.columns = new_col

In [56]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odo_meter,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,las_tSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Initial Data Exploration and Cleaning

In [57]:
autos.describe()

,registration_year,power_ps,registration_month,nr_of_pictures,postal_code
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [58]:
autos["price"]

0         $5,000
1         $8,500
2         $8,990
3         $4,350
4         $1,350
5         $7,900
6           $300
7         $1,990
8           $250
9           $590
10          $999
11          $350
12        $5,299
13        $1,350
14        $3,999
15       $18,900
16          $350
17        $5,500
18          $300
19        $4,150
20        $3,500
21       $41,500
22       $25,450
23        $7,999
24       $48,500
25           $90
26          $777
27            $0
28        $5,250
29        $4,999
          ...
49970    $15,800
49971       $950
49972     $3,300
49973     $6,000
49974         $0
49975     $9,700
49976     $5,900
49977     $5,500
49978       $900
49979    $11,000
49980       $400
49981     $2,000
49982     $1,950
49983       $600
49984         $0
49985     $1,000
49986    $15,900
49987    $21,990
49988     $9,550
49989       $150
49990    $17,500
49991       $500
49992     $4,800
49993     $1,650
49994     $5,000
49995    $24,900
49996     $1,980
49997    $13,200
49998    $22,900
49999     $1,250
Name: price, Length: 50000, dtype: object

In [59]:
autos["odo_meter"]

0        150,000km
1        150,000km
2         70,000km
3         70,000km
4        150,000km
5        150,000km
6        150,000km
7        150,000km
8        150,000km
9        150,000km
10       150,000km
11       150,000km
12        50,000km
13       150,000km
14       150,000km
15        80,000km
16       150,000km
17       150,000km
18       150,000km
19       150,000km
20       150,000km
21       150,000km
22        10,000km
23       150,000km
24        30,000km
25       150,000km
26       125,000km
27       150,000km
28       150,000km
29       150,000km
           ...
49970     60,000km
49971    150,000km
49972    150,000km
49973    150,000km
49974    150,000km
49975    100,000km
49976    150,000km
49977    150,000km
49978    150,000km
49979     70,000km
49980    125,000km
49981    150,000km
49982     90,000km
49983    150,000km
49984    150,000km
49985    150,000km
49986    125,000km
49987     50,000km
49988    150,000km
49989    150,000km
49990     30,000km
49991    150,000km
49992    125,000km
49993    150,000km
49994    150,000km
49995    100,000km
49996    150,000km
49997      5,000km
49998     40,000km
49999    150,000km
Name: odo_meter, Length: 50000, dtype: object

This two columns must be changed. So I will do it now.

In [60]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(int)

In [61]:
autos["odo_meter"] = autos["odo_meter"].str.replace("km","").str.replace(',',"").astype(int)

In [62]:
autos.rename(columns = {"odo_meter":"odometer_km"}, inplace = True)
autos.rename(columns = {"price":"price_$"},inplace = True)

In [63]:
autos.head()

,date_crawled,name,seller,offer_type,price_$,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,las_tSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Exploring Odometer and Price

In [64]:
autos["seller"].unique()

array(['privat', 'gewerblich'], dtype=object)

In [65]:
autos["offer_type"].unique()

array(['Angebot', 'Gesuch'], dtype=object)

In [66]:
autos["odometer_km"].unique()

array([150000,  70000,  50000,  80000,  10000,  30000, 125000,  90000,
        20000,  60000,   5000, 100000,  40000])

In [67]:
autos["price_$"].unique()

array([ 5000,  8500,  8990, ...,   385, 22200, 16995])

In [68]:
autos["price_$"].value_counts()

0         1421
500        781
1500       734
2500       643
1000       639
1200       639
600        531
800        498
3500       498
2000       460
999        434
750        433
900        420
650        419
850        410
700        395
4500       394
300        384
2200       382
950        379
1100       376
1300       371
3000       365
550        356
1800       355
5500       340
1250       335
350        335
1600       327
1999       322
          ...
46200        1
29600        1
13480        1
21700        1
7373         1
3279         1
4286         1
188          1
17830        1
9130         1
910          1
238          1
2671         1
69900        1
151990       1
2479         1
4510         1
86500        1
47499        1
16998        1
27299        1
41850        1
4780         1
686          1
6495         1
20790        1
8970         1
846          1
2895         1
33980        1
Name: price_$, Length: 2357, dtype: int64

In [69]:
autos[autos["price_$"] == 0].dropna(axis = 0 )

,date_crawled,name,seller,offer_type,price_$,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,las_tSeen
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,privat,Angebot,0,control,coupe,1999,manuell,99,primera,150000,3,benzin,nissan,ja,2016-03-09 00:00:00,0,66903,2016-03-09 16:43:50
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0,control,cabrio,2011,manuell,0,2_reihe,60000,7,diesel,peugeot,nein,2016-04-05 00:00:00,0,99735,2016-04-07 12:17:34
118,2016-03-12 05:03:00,VW_Sharan_V6_204_PS_Karosse_Rohkarosse_mit_Pap...,privat,Angebot,0,control,bus,2001,manuell,204,sharan,150000,7,benzin,volkswagen,ja,2016-03-12 00:00:00,0,15370,2016-03-12 21:44:23
226,2016-03-25 23:52:12,Porsche_911_S_Targa__67er_SWB,privat,Angebot,0,control,cabrio,1967,manuell,160,911,5000,12,benzin,porsche,nein,2016-03-25 00:00:00,0,44575,2016-04-05 14:46:39
248,2016-03-08 22:57:53,VW_Passat_zu_verkaufen,privat,Angebot,0,test,kombi,1998,manuell,0,passat,150000,10,benzin,volkswagen,ja,2016-03-08 00:00:00,0,34369,2016-03-29 16:16:18
418,2016-03-29 14:43:24,Fiat_SCUDO_8_Sitzer_Bus__Diesel_JTD__80_KW,privat,Angebot,0,test,bus,2003,manuell,80,andere,5000,5,diesel,fiat,nein,2016-03-29 00:00:00,0,35315,2016-04-05 23:47:14
427,2016-03-12 11:44:47,TOP_ZUSTAND_GrunePlakette_Euro4!!!,privat,Angebot,0,test,bus,2005,manuell,101,vivaro,80000,8,diesel,opel,nein,2016-03-12 00:00:00,0,93173,2016-03-12 11:44:47
449,2016-04-03 20:59:59,Tausche_gegen_ein_smart.,privat,Angebot,0,test,limousine,2001,manuell,120,golf,150000,8,benzin,volkswagen,nein,2016-04-03 00:00:00,0,60439,2016-04-04 10:31:06
487,2016-03-14 21:41:36,MAG_MICH_KEINER_HABEN_Opel_Omega_B_Caravan_2.0...,privat,Angebot,0,test,kombi,1998,manuell,136,omega,150000,8,benzin,opel,ja,2016-03-14 00:00:00,0,59320,2016-03-17 11:48:08
519,2016-03-28 08:53:58,Verkaufe/Tausche_Seat_Inca__VW_Caddy__aus_2002...,privat,Angebot,0,test,andere,2002,manuell,64,andere,150000,2,diesel,seat,nein,2016-03-28 00:00:00,0,12627,2016-03-28 10:41:01
660,2016-03-29 21:44:40,Opel_Corsa_B,privat,Angebot,0,test,kleinwagen,1998,manuell,54,corsa,125000,11,benzin,opel,ja,2016-03-29 00:00:00,0,24214,2016-04-06 07:46:43
671,2016-03-09 11:37:39,A_160_AUTOMATIK_TAUSCH_MÖGLICH,privat,Angebot,0,test,limousine,1999,automatik,102,a_klasse,150000,6,benzin,mercedes_benz,nein,2016-03-09 00:00:00,0,87600,2016-03-09 11:37:39
704,2016-03-25 19:52:59,Golf_4_Kleinwagen,privat,Angebot,0,test,kleinwagen,2000,manuell,105,golf,150000,12,benzin,volkswagen,ja,2016-03-25 00:00:00,0,15344,2016-03-31 17:48:54
849,2016-03-08 15:38:02,Renault_Megane_RS_tce_250_Cup_Edition,privat,Angebot,0,test,coupe,2011,manuell,250,megane,60000,9,benzin,renault,nein,2016-03-08 00:00:00,0,30559,2016-03-09 23:17:37
988,2016-03-21 06:57:18,peugeot_206_75_ps_klima_servo_nebelsch.,privat,Angebot,0,control,kleinwagen,2004,manuell,75,2_reihe,125000,12,benzin,peugeot,nein,2016-03-21 00:00:00,0,66333,2016-03-27 09:55:49
1017,2016-03-19 18:53:32,BMW_320i_Aut.,privat,Angebot,0,test,limousine,2005,automatik,150,3er,150000,7,benzin,bmw,nein,2016-03-19 00:00:00,0,10551,2016-04-07 06:16:37
1226,2016-03-23 14:46:47,Golf_3_1.6l,privat,Angebot,0,test,kleinwagen,1996,manuell,75,golf,150000,0,benzin,volkswagen,ja,2016-03-23 00:00:00,0,48249,2016-04-05 16:44:25
1314,2016-03-21 12:49:53,Kia_carnival_2.9_crdi_//8_x_bereift_//_ahk//_7...,privat,Angebot,0,control,kombi,2003,manuell,122,carnival,150000,12,benzin,kia,ja,2016-03-21 00:00:00,0,44357,2016-03-31 15:15:25
1606,2016-03-25 10:55:10,Tausche_BMW_E36_318i_Cabrio_TÜV_7/2017_&_A6_2_...,privat,Angebot,0,test,cabrio,1996,automatik,116,3er,150000,3,benzin,bmw,nein,2016-03-25 00:00:00,0,29410,2016-04-06 16:46:50
1625,2016-03-23 14:45:39,OPEL_OMEGA_B,privat,Angebot,0,test,limousine,1996,automatik,211,omega,150000,10,benzin,opel,ja,2016-03-23 00:00:00,0,89150,2016-04-03 16:45:27
1935,2016-04-05 10:55:43,Zu_verkaufen_ist_mein_vw_t4,privat,Angebot,0,control,bus,1992,manuell,78,transporter,150000,2,diesel,volkswagen,nein,2016-04-05 00:00:00,0,26452,2016-04-05 11:44:52
2025,2016-03-12 18:54:42,Polo_9N_/_4_Tuerig_/_Tausch,privat,Angebot,0,test,kleinwagen,2002,manuell,64,polo,150000,3,benzin,volkswagen,nein,2016-03-12 00:00:00,0,31028,2016-03-22 17:45:23
2356,2016-03-18 14:38:20,Car_Sharing_C200_Sportcoupe,privat,Angebot,0,test,coupe,2002,manuell,163,c_klasse,150000,10,benzin,mercedes_benz,nein,2016-03-18 00:00:00,0,87600,2016-04-03 21:18:29
2368,2016-03-30 07:54:02,Renault_Megane,privat,Angebot,0,control,coupe,1997,manuell,90,megane,150000,0,benzin,renault,ja,2016-03-30 00:00:00,0,16356,2016-04-06 23:46:25
2379,2016-03-08 17:53:59,Opel_Omega_Caravan_2.5_V6__Schiff_|_Showfahrze...,privat,Angebot,0,control,kombi,1995,manuell,170,omega,150000,7,benzin,opel,nein,2016-03-08 00:00:00,0,15234,2016-03-29 01:47:05
2420,2016-03-26 16:53:13,Youngtimer_AUDI80_B4,privat,Angebot,0,control,limousine,1993,manuell,110,80,150000,1,benzin,audi,nein,2016-03-26 00:00:00,0,28832,2016-03-29 19:44:23
2470,2016-03-05 15:49:58,Opel_Astra_Coupe,privat,Angebot,0,control,coupe,2004,manuell,125,astra,125000,4,benzin,opel,nein,2016-03-05 00:00:00,0,37339,2016-03-06 04:45:26
2510,2016-04-01 11:58:28,Mercedes_ML_280_CDI__TOP_ZUSTAND!!!_Leder__Com...,privat,Angebot,0,test,suv,2007,automatik,180,m_klasse,150000,0,diesel,mercedes_benz,nein,2016-04-01 00:00:00,0,28197,2016-04-03 08:17:27
2529,2016-03-05 22:29:33,Mercedes_Benz_Clk_W209,privat,Angebot,0,test,coupe,2002,manuell,170,clk,150000,11,benzin,mercedes_benz,nein,2016-03-05 00:00:00,0,65183,2016-03-07 10:30:15
2584,2016-03-07 10:51:01,Opel_C_Corsa_An_Schrauber_oder_zum_Ausschlachten,privat,Angebot,0,test,limousine,2003,manuell,75,corsa,125000,3,benzin,opel,ja,2016-03-07 00:00:00,0,61118,2016-03-09 13:47:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46693,2016-03-15 05:36:17,VW_Polo_9n3_Gti,privat,Angebot,0,control,kleinwagen,2008,manuell,194,polo,100000,0,benzin,volkswagen,ja,2016-03-15 00:00:00,0,34582,2016-04-05 12:20:02
46708,2016-03-14 14:55:10,Audi_a6_2.5l_Schlachtfest,privat,Angebot,0,control,kombi,1999,manuell,0,a6,150000,6,diesel,audi,nein,2016-03-14 00:00:00,0,27721,2016-03-16 05:44:43
46729,2016-03-15 21:47:24,Opel_Astra_Caravan_1_6_Njoy_zum_ausschlachten,privat,Angebot,0,control,kombi,2003,manuell,84,astra,150000,7,benzin,opel,ja,2016-03-15 00:00:00,0,47226,2016-03-16 20:20:50
46812,2016-04-04 09:53:16,Biete_hier_meinen_geliebten_Opel_vectra_b,privat,Angebot,0,control,kombi,1997,manuell,116,vectra,150000,6,benzin,opel,nein,2016-04-04 00:00:00,0,16348,2016-04-06 10:46:06
47007,2016-04-03 18:43:43,VW_Lupo__Austauschmotor__1_L__TÜV12/17,privat,Angebot,0,control,kleinwagen,1999,manuell,55,lupo,125000,7,benzin,volkswagen,nein,2016-04-03 00:00:00,0,17424,2016-04-05 18:46:36
47142,2016-03-19 08:37:44,GESUCHT_WIRD_UNBEDINGT_EIN_VOLKSWAGEN_TOURAN_S...,privat,Angebot,0,test,bus,2003,manuell,101,touran,5000,0,diesel,volkswagen,ja,2016-03-19 00:00:00,0,27753,2016-04-06 07:17:47
47168,2016-03-12 19:50:09,Tausche_Auto_PKW_Opel_Corsa_B_Edition_2000_all...,privat,Angebot,0,test,kleinwagen,2000,manuell,55,corsa,150000,10,benzin,opel,nein,2016-03-12 00:00:00,0,8340,2016-03-12 19:50:09
47238,2016-03-25 00:56:39,Golf_3_cabrio_tausche,privat,Angebot,0,control,cabrio,1994,manuell,100,golf,150000,4,benzin,volkswagen,nein,2016-03-24 00:00:00,0,16727,2016-04-06 06:17:24
47345,2016-03-20 00:56:29,Kleinster_LKW_der_Welt_Daihatsu_Midget,privat,Angebot,0,control,andere,1999,automatik,32,andere,30000,7,benzin,daihatsu,nein,2016-03-19 00:00:00,0,21279,2016-03-21 10:17:54
47543,2016-03-20 13:54:41,VW_Passat_1_9_TDI,privat,Angebot,0,test,kombi,1999,manuell,110,passat,150000,5,diesel,volkswagen,ja,2016-03-20 00:00:00,0,4769,2016-04-06 15:45:42
47575,2016-03-23 00:58:41,Mazda_323F_BA._TÜV_09/2017,privat,Angebot,0,test,limousine,1998,manuell,88,3_reihe,150000,6,benzin,mazda,ja,2016-03-22 00:00:00,0,12687,2016-04-07 06:46:31
47964,2016-04-03 04:36:37,Bmw_320_123tkm_///Mpaket///_Facelift_Tausch,privat,Angebot,0,control,kombi,2003,manuell,170,3er,125000,2,benzin,bmw,nein,2016-04-03 00:00:00,0,15537,2016-04-07 10:16:20
48012,2016-03-22 11:50:58,Vw_lupo_defekt,privat,Angebot,0,control,kleinwagen,2002,manuell,0,lupo,150000,10,benzin,volkswagen,ja,2016-03-22 00:00:00,0,71735,2016-03-22 11:50:58
48060,2016-04-02 11:54:30,Bmw_Verkauf_oder_Tausch,privat,Angebot,0,test,kombi,1999,manuell,150,5er,150000,3,benzin,bmw,nein,2016-04-02 00:00:00,0,37431,2016-04-06 09:46:10
48105,2016-03-23 16:37:45,Bmw_e46_compact_1.8,privat,Angebot,0,test,kleinwagen,2003,manuell,116,3er,100000,3,benzin,bmw,ja,2016-03-23 00:00:00,0,52399,2016-03-23 16:37:45
48131,2016-03-11 19:52:17,Twingo_fuer_Bastler,privat,Angebot,0,test,kleinwagen,2001,manuell,60,twingo,90000,9,benzin,renault,ja,2016-03-11 00:00:00,0,47804,2016-03-25 04:21:09
48218,2016-03-23 08:55:56,fiat_bravo_1_2_16v_schlachtfahrzeug,privat,Angebot,0,control,kleinwagen,1999,manuell,82,bravo,150000,9,benzin,fiat,ja,2016-03-23 00:00:00,0,59581,2016-04-07 08:44:26
48362,2016-03-26 01:00:02,Opel_Corsa_b_mit_Schiebedach_Alufelgen_&_TÜV_b...,privat,Angebot,0,test,kleinwagen,1996,manuell,50,corsa,150000,11,benzin,opel,nein,2016-03-25 00:00:00,0,23558,2016-04-03 18:16:59
48530,2016-04-03 19:40:32,Golf_4_zu_verkaufen_Top_Zustand,privat,Angebot,0,test,limousine,2000,manuell,75,golf,150000,2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,51545,2016-04-05 20:15:48
48566,2016-03-23 22:37:39,Renault_Twingo_SERVO_Schoene_Farbe,privat,Angebot,0,test,kleinwagen,1998,manuell,58,twingo,150000,10,benzin,renault,ja,2016-03-23 00:00:00,0,47138,2016-03-28 08:16:01
48636,2016-03-27 00:52:29,Audi_A4_gemacht_!!!,privat,Angebot,0,test,limousine,2000,manuell,368,a4,10000,7,benzin,audi,nein,2016-03-26 00:00:00,0,99734,2016-03-27 08:43:42
48664,2016-03-29 00:37:12,5_Tuerer_Klima__ABS__Servolenkung_,privat,Angebot,0,test,limousine,1999,manuell,75,astra,150000,1,diesel,opel,nein,2016-03-29 00:00:00,0,7952,2016-03-29 00:37:12
48673,2016-03-20 18:58:58,VW_Golf_3_mit_vielen_Umbauten_und_neuem_Tuev,privat,Angebot,0,test,limousine,1997,manuell,75,golf,150000,0,benzin,volkswagen,nein,2016-03-20 00:00:00,0,15344,2016-03-20 19:41:57
48889,2016-04-01 10:50:52,Audi_A4_____TueV_09.2016,privat,Angebot,0,control,limousine,1995,manuell,101,a4,150000,2,benzin,audi,nein,2016-04-01 00:00:00,0,86869,2016-04-07 07:46:02
48891,2016-03-20 22:50:14,MB_E_220_CDI__TAUSCHEN_nur_SUV/GELÄNDEWAGEN,privat,Angebot,0,test,kombi,2001,automatik,143,e_klasse,150000,12,diesel,mercedes_benz,ja,2016-03-20 00:00:00,0,38442,2016-03-24 18:16:00
49350,2016-03-19 23:57:15,Golf_II_Diesel,privat,Angebot,0,control,kleinwagen,1991,manuell,54,golf,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,29664,2016-04-06 03:15:23
49479,2016-04-01 23:55:01,Tausch_mit_frischen_TÜV,privat,Angebot,0,control,limousine,1995,manuell,101,a4,150000,5,benzin,audi,nein,2016-04-01 00:00:00,0,27753,2016-04-06 05:16:07
49504,2016-03-13 19:42:57,Meriva_Lpg_1_6_16v,privat,Angebot,0,control,bus,2004,manuell,101,meriva,150000,10,lpg,opel,ja,2016-03-13 00:00:00,0,27432,2016-03-19 13:16:57
49538,2016-03-14 10:55:27,Golf_3_mit_Tuev_.....PREISWERT!!!!,privat,Angebot,0,control,limousine,1998,manuell,60,golf,150000,0,benzin,volkswagen,nein,2016-03-14 00:00:00,0,15345,2016-03-14 10:55:27
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,0,control,cabrio,1983,manuell,70,golf,150000,2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16

In [70]:
autos["price_$"].value_counts()

0         1421
500        781
1500       734
2500       643
1000       639
1200       639
600        531
800        498
3500       498
2000       460
999        434
750        433
900        420
650        419
850        410
700        395
4500       394
300        384
2200       382
950        379
1100       376
1300       371
3000       365
550        356
1800       355
5500       340
1250       335
350        335
1600       327
1999       322
          ...
46200        1
29600        1
13480        1
21700        1
7373         1
3279         1
4286         1
188          1
17830        1
9130         1
910          1
238          1
2671         1
69900        1
151990       1
2479         1
4510         1
86500        1
47499        1
16998        1
27299        1
41850        1
4780         1
686          1
6495         1
20790        1
8970         1
846          1
2895         1
33980        1
Name: price_$, Length: 2357, dtype: int64

In [71]:
autos.describe()

,price_$,registration_year,power_ps,odometer_km,registration_month,nr_of_pictures,postal_code
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,9.840044e+03,2005.073280,116.355920,125732.700000,5.723360,0.0,50813.627300
std,4.811044e+05,105.712813,209.216627,40042.211706,3.711984,0.0,25779.747957
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1.100000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30451.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49577.000000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71540.000000
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

## Exploring the date columns

There are a number of columns with date information:

1. date_crawled
2. registration_month
3. registration_year
4. ad_created
5. last_seen

These are a combination of dates that were crawled, and dates with meta-information from the crawler. The non-registration dates are stored as strings.

We'll explore each of these columns to learn more about the listings.

In [72]:
autos["date_crawled"].value_counts(normalize = True,dropna = False)

2016-03-30 17:37:35    0.00006
2016-04-04 16:40:33    0.00006
2016-03-22 09:51:06    0.00006
2016-03-09 11:54:38    0.00006
2016-03-23 18:39:34    0.00006
2016-03-21 20:37:19    0.00006
2016-03-05 16:57:05    0.00006
2016-03-25 19:57:10    0.00006
2016-03-21 16:37:21    0.00006
2016-03-30 19:48:02    0.00006
2016-03-27 22:55:05    0.00006
2016-03-19 17:36:18    0.00006
2016-03-16 21:50:53    0.00006
2016-03-08 10:40:35    0.00006
2016-04-02 15:49:30    0.00006
2016-03-29 23:42:13    0.00006
2016-03-10 15:36:24    0.00006
2016-03-23 19:38:20    0.00006
2016-03-11 22:38:16    0.00006
2016-03-12 16:06:22    0.00006
2016-04-02 11:37:04    0.00006
2016-03-14 20:50:02    0.00006
2016-03-28 10:52:05    0.00004
2016-03-08 19:48:32    0.00004
2016-03-23 15:41:26    0.00004
2016-03-29 19:42:32    0.00004
2016-03-19 21:48:58    0.00004
2016-03-09 08:56:45    0.00004
2016-03-31 09:55:05    0.00004
2016-03-14 09:37:04    0.00004
                        ...
2016-03-29 18:39:31    0.00002
2016-03-26 19:57:08    0.00002
2016-03-23 19:57:32    0.00002
2016-03-10 19:58:23    0.00002
2016-03-30 22:47:59    0.00002
2016-03-24 18:56:48    0.00002
2016-03-09 17:36:54    0.00002
2016-03-14 15:38:32    0.00002
2016-03-09 21:50:12    0.00002
2016-04-01 17:43:13    0.00002
2016-03-25 10:25:24    0.00002
2016-03-31 12:37:55    0.00002
2016-04-01 11:39:17    0.00002
2016-04-04 08:37:19    0.00002
2016-03-20 11:36:59    0.00002
2016-03-09 14:06:20    0.00002
2016-03-19 16:46:58    0.00002
2016-03-26 17:55:27    0.00002
2016-03-11 14:56:10    0.00002
2016-03-23 13:56:42    0.00002
2016-03-24 15:53:57    0.00002
2016-03-18 18:06:23    0.00002
2016-03-24 12:47:18    0.00002
2016-03-13 17:42:39    0.00002
2016-03-21 17:06:24    0.00002
2016-03-28 12:49:45    0.00002
2016-03-28 20:45:21    0.00002
2016-03-06 15:43:41    0.00002
2016-03-11 21:38:38    0.00002
2016-03-12 16:51:07    0.00002
Name: date_crawled, Length: 48213, dtype: float64

In [73]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price_$               50000 non-null int64
ab_test               50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gear_box              47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_of_pictures        50000 non-null int64
postal_code           50000 non-null int64
las_tSeen             50000 non-null object
dtypes: int64(7), object(13)
memory usage: 7.6+ MB

In [74]:
autos["ad_created"].value_counts(normalize = True, dropna = False)

2016-04-03 00:00:00    0.03892
2016-03-20 00:00:00    0.03786
2016-03-21 00:00:00    0.03772
2016-04-04 00:00:00    0.03688
2016-03-12 00:00:00    0.03662
2016-03-14 00:00:00    0.03522
2016-04-02 00:00:00    0.03508
2016-03-28 00:00:00    0.03496
2016-03-07 00:00:00    0.03474
2016-03-29 00:00:00    0.03414
2016-03-19 00:00:00    0.03384
2016-04-01 00:00:00    0.03380
2016-03-15 00:00:00    0.03374
2016-03-30 00:00:00    0.03344
2016-03-08 00:00:00    0.03334
2016-03-09 00:00:00    0.03324
2016-03-22 00:00:00    0.03280
2016-03-11 00:00:00    0.03278
2016-03-26 00:00:00    0.03256
2016-03-23 00:00:00    0.03218
2016-03-31 00:00:00    0.03192
2016-03-25 00:00:00    0.03188
2016-03-10 00:00:00    0.03186
2016-03-17 00:00:00    0.03120
2016-03-27 00:00:00    0.03090
2016-03-16 00:00:00    0.03000
2016-03-24 00:00:00    0.02908
2016-03-05 00:00:00    0.02304
2016-03-13 00:00:00    0.01692
2016-03-06 00:00:00    0.01512
                        ...
2016-02-19 00:00:00    0.00006
2016-01-10 00:00:00    0.00004
2016-02-18 00:00:00    0.00004
2016-02-20 00:00:00    0.00004
2016-02-09 00:00:00    0.00004
2016-02-02 00:00:00    0.00004
2016-02-24 00:00:00    0.00004
2016-02-26 00:00:00    0.00004
2016-02-14 00:00:00    0.00004
2016-02-05 00:00:00    0.00004
2016-01-03 00:00:00    0.00002
2015-12-05 00:00:00    0.00002
2016-02-11 00:00:00    0.00002
2015-09-09 00:00:00    0.00002
2016-02-16 00:00:00    0.00002
2016-02-22 00:00:00    0.00002
2015-06-11 00:00:00    0.00002
2016-01-22 00:00:00    0.00002
2016-01-14 00:00:00    0.00002
2016-02-01 00:00:00    0.00002
2016-02-07 00:00:00    0.00002
2016-01-16 00:00:00    0.00002
2016-02-17 00:00:00    0.00002
2016-01-13 00:00:00    0.00002
2016-01-29 00:00:00    0.00002
2016-01-07 00:00:00    0.00002
2016-02-08 00:00:00    0.00002
2015-12-30 00:00:00    0.00002
2015-08-10 00:00:00    0.00002
2015-11-10 00:00:00    0.00002
Name: ad_created, Length: 76, dtype: float64

## Dealing with Incorrect Registration Year Data

In [75]:
autos['registration_year'].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [76]:
autos["registration_year"].head()

0    2004
1    1997
2    2009
3    2007
4    2003
Name: registration_year, dtype: int64

In [77]:
autos["registration_year"].value_counts().sort_index(ascending = True)

1000       1
1001       1
1111       1
1500       1
1800       2
1910       9
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       5
1957       2
1958       4
1959       7
1960      34
1961       6
1962       4
1963       9
        ...
2001    2703
2002    2533
2003    2727
2004    2737
2005    3015
2006    2708
2007    2304
2008    2231
2009    2098
2010    1597
2011    1634
2012    1323
2013     806
2014     666
2015     399
2016    1316
2017    1453
2018     492
2019       3
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       2
9996       1
9999       4
Name: registration_year, Length: 97, dtype: int64

In [78]:
autos["registration_year"] = autos[autos["registration_year"].between(1900,2019)]

In [79]:
autos["registration_year"].value_counts()

2016-03-30 17:37:35    3
2016-04-02 15:49:30    3
2016-03-27 22:55:05    3
2016-03-21 20:37:19    3
2016-03-10 15:36:24    3
2016-03-11 22:38:16    3
2016-04-04 16:40:33    3
2016-03-12 16:06:22    3
2016-03-23 19:38:20    3
2016-03-14 20:50:02    3
2016-03-23 18:39:34    3
2016-03-05 16:57:05    3
2016-03-19 17:36:18    3
2016-03-25 19:57:10    3
2016-03-30 19:48:02    3
2016-03-16 21:50:53    3
2016-03-08 10:40:35    3
2016-03-21 16:37:21    3
2016-03-22 09:51:06    3
2016-04-02 11:37:04    3
2016-03-29 23:42:13    3
2016-03-09 11:54:38    3
2016-03-26 02:01:58    2
2016-03-07 13:36:18    2
2016-03-14 23:57:24    2
2016-03-07 21:58:16    2
2016-03-25 10:53:08    2
2016-03-09 17:42:49    2
2016-03-05 14:40:32    2
2016-03-26 15:47:18    2
                      ..
2016-03-26 19:57:08    1
2016-03-23 19:57:32    1
2016-03-10 19:58:23    1
2016-03-30 22:47:59    1
2016-03-24 18:56:48    1
2016-03-10 17:39:33    1
2016-04-01 19:43:56    1
2016-03-09 08:37:22    1
2016-03-25 10:25:24    1
2016-03-14 15:38:32    1
2016-03-31 12:37:55    1
2016-04-01 11:39:17    1
2016-04-04 08:37:19    1
2016-03-20 11:36:59    1
2016-03-09 14:06:20    1
2016-03-19 16:46:58    1
2016-03-26 17:55:27    1
2016-03-11 14:56:10    1
2016-03-23 13:56:42    1
2016-03-24 15:53:57    1
2016-03-18 18:06:23    1
2016-03-24 12:47:18    1
2016-03-13 17:42:39    1
2016-03-21 17:06:24    1
2016-03-28 12:49:45    1
2016-03-28 20:45:21    1
2016-03-06 15:43:41    1
2016-03-11 21:38:38    1
2016-04-01 17:43:13    1
2016-03-12 16:51:07    1
Name: registration_year, Length: 48191, dtype: int64

In [80]:
autos["registration_year"].describe()

count                   49976
unique                  48191
top       2016-03-30 17:37:35
freq                        3
Name: registration_year, dtype: object

## Exploring Price by Brand

In [81]:
autos["brand"].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [88]:
brand_counts = autos["brand"].value_counts(normalize = True)
a = brand_counts[brand_counts > 0.05].index

In [91]:
aggragated_data = {}
for s in a:
    selected_row = autos[autos["brand"] == s]
    mean_brand = selected_row["price_$"].mean()
    aggragated_data[s] = int(mean_brand)

In [92]:
aggragated_data

{'audi': 8965,
 'bmw': 8252,
 'ford': 7105,
 'mercedes_benz': 29511,
 'opel': 5106,
 'volkswagen': 6384}

## Exploring Mileage

In [93]:
bmp_series = pd.Series(aggragated_data)

In [94]:
df = pd.DataFrame(bmp_series, columns = ["mean_price"])
df

               mean_price
audi                 8965
bmw                  8252
ford                 7105
mercedes_benz       29511
opel                 5106
volkswagen           6384